* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bg {
    background-color: #baddc3;
}

.main-container {
    display: flex;
    height: 30rem;
    margin: 5rem 1rem;
    flex-direction: column;
    background-color: #baddc3;
    /* column-gap: 10px; */
    row-gap: 10px;
    padding: 10px;
    /* border: #baddc3 solid 10px; */

}

.flex-item-1 {
    display: flex;
    flex-grow: 1;
    column-gap: 10px;
}

.fi-1__1 {

    flex-grow: 1;
    background-color: #d1807a;

}

.row {
    display: flex;
    flex-grow: 4;
    justify-content: space-around;
    column-gap: 10px;
}

.flex-item-2 {

    display: flex;
    flex-grow: 1;
}

.fi-2__1 {
    display: flex;
    flex-grow: 1;
    background-color: #7d8773;
    justify-content: center;
    align-items: center;
}

.yellow {
    width: 25%;
    height: 25%;
    background-color: yellow;
}

.flex-item-3 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    row-gap: 10px;
}

.fi-3__1 {

    flex-grow: 1;
    background-color: #8a995f;

}