* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-container {
    margin: 5rem;
    display: flex;
    border: solid crimson 3px;
    width: 75%;
    height: 20rem;
}